.grid-container {
  display: grid;
  grid-template-columns: 12rem 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;
  grid-template-areas:
    "nav header"
    "nav content"
    "nav footer";
  transition: all ease-in-out 0.35s;
}

header {
  grid-area: header;
  padding: 2rem;
  background-color: #1e293b;
}

nav {
  grid-area: nav;
  padding: 2rem;
  background-color: #334155;
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}

main {
  grid-area: content;
  padding: 2rem;
  background-color: #475569;
}

footer {
  grid-area: footer;
  padding: 2rem;
  background-color: #94a3b8;
}
