$breakpoint-tablet: 768px;

@media (max-width: $breakpoint-tablet) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    grid-template-areas:
      "header"
      "content"
      "footer";
  }
  nav{
    position: absolute;
    top: 0;
    left: 0;
    height: 100dvh;
    z-index: 1102;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    &.active {
      transform: translateX(0);
    }
  }

  .layout-mask {
    background-color: rgba(0, 0, 0, 0.1);

    &.layout-mask-active {
      z-index: 1101;
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.4);
      transition: background-color .5s;
    }
  }
}
