<h3>Contact Crisis Center</h3>
<div *ngIf="details">
  {{ details }}
</div>
<div>
  <div>
    <label for="message">Message</label>
  </div>
  <div>
    <textarea
      id="message"
      [(ngModel)]="message"
      rows="10"
      cols="35"
      [disabled]="sending"></textarea>
  </div>
</div>
<div *ngIf="!sending">
  <button
    (click)="send()"
    type="button"
    class="text-white bg-purple-700 hover:bg-purple-800 focus:outline-none focus:ring-4 focus:ring-purple-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900">
    Send
  </button>

  <button
    (click)="cancel()"
    type="button"
    class="text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
    Cancel
  </button>
</div>
