<body>
  <div class="grid-container">
    <header>
      <app-topbar (menuButtonClick)="onMenuButtonClick()"></app-topbar>
    </header>
    <nav [ngClass]="{ active: menuActive }">
      <ol>
        <li>
          <a routerLink="/crisis-center" routerLinkActive="active"
            >Crisis Center</a
          >
        </li>
        <li>
          <a routerLink="/heroes" routerLinkActive="active">Heroes</a>
        </li>
        <li>
          <a routerLink="/admin" routerLinkActive="active">Admin</a>
        </li>
      </ol>
    </nav>
    <div
      id="layout-mask"
      class="layout-mask"
      [ngClass]="{ 'layout-mask-active': menuActive }"
      (click)="onMaskClick()"
      (keydown.enter)="onMaskClick()"
      tabindex="{1}"></div>
    <main>
      screen size: {{ screenSize }}
      <router-outlet></router-outlet>
      <a [routerLink]="[{ outlets: { popup2: ['compose-log'] } }]">Contact</a>
      <router-outlet name="popup2"></router-outlet>
    </main>
    <footer></footer>
  </div>
</body>
