<h1
  class="mb-4 text-3xl font-extrabold text-white dark:text-white md:text-5xl lg:text-6xl">
  <span class="bg-gradient-to-r from-sky-400 to-emerald-600 bg-clip-text"
    >Heroes</span
  >
</h1>

<div
  class="w-80 rounded-lg border border-gray-200 bg-white text-sm font-medium text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white"
  *ngFor="let hero of heroes$ | async">
  <a
    [routerLink]="['/hero', hero.id]"
    aria-current="true"
    type="button"
    class="w-full cursor-pointer rounded-t-lg border-b border-gray-200 px-4 py-2 text-left font-medium focus:outline-none dark:border-gray-600 dark:bg-gray-800"
    [ngClass]="
      hero.id === selectedId ? 'text-white bg-blue-700' : 'text-black'
    ">
    <span>{{ hero.id }} </span>
    <span>{{ hero.name }}</span>
  </a>
</div>

<div>
  <p>Hero Age : {{ heroAge$ | async }}</p>
  <button
    (click)="increaseHeroAge()"
    class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
    Increase Hero Age
  </button>
</div>

<p>Enter hero name</p>
<input [(ngModel)]="heroName" (keydown.enter)="testBinding()" />
